.App {
	text-align: center;
}

.soft {
	transition: 0.3s;
}

.testBox {
	max-width: 800px;
	margin: auto;
}

.textCenter {
	text-align: center;
}

.gallery {
	object-fit: cover;
}

#photoBox div {
	padding: 0 5px;
	margin-top: 5px;
	margin-bottom: 5px;
}

#photoBoxContainer {
	margin: 50px 0;
}