.App {
	text-align: center;
}

.soft {
	transition: 0.3s;
}

.testBox {
	max-width: 800px;
	margin: auto;
}

.textCenter {
	text-align: center;
}

.likeBox {
	width: auto;
	display: block;
	margin-top: 10px;
}

.like {
	width: 30px;
	height: 30px;
	display: inline-block;
}

.likeText {
	width: 100px;
	display: inline-block;
	font-size: 1.0rem;
	font-weight: bold;
	margin-left: 20px;
}

.gallery {
	object-fit: cover;
}

.pointer {
	cursor: pointer;
}

.inputBox{
	border-right: 1px solid rgba(0, 0, 0, 0.1);
	border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.delButton {
	color: grey;
	font-weight: lighter;
	margin-left: 10px;
}

.innerList {
	margin: 2px;
}

.cardCategory {
	margin: 5px;
}

#photoBox div {
	padding: 0 5px;
	margin-top: 5px;
	margin-bottom: 5px;
}

#photoBoxContainer {
	margin: 50px 0;
}